@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600&display=swap");
@import url("https://fonts.cdnfonts.com/css/cascadia-code");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply font-mono
    flex flex-col
    bg-gray-900
    text-gray-200;
}

header {
  @apply px-8 py-5 lg:pt-10 lg:px-20
    flex flex-col flex-1;

  min-height: 100vh;
}

footer {
  @apply py-5 px-8 lg:px-20
    border-t-2 border-gray-600
    text-xs
    flex flex-col gap-2;
}

nav {
  @apply mb-10
    flex flex-wrap gap-5;
}

nav a {
  @apply opacity-75 hover:opacity-100
    transition;
}

.link {
  @apply text-yellow-500;
}

.header-title {
  @apply font-serif font-semibold
    flex-1 flex flex-col
    justify-center items-start;
}

section {
  @apply px-8 py-20 lg:py-32 lg:px-20
    border-t-2 border-gray-600;
}

.section-title {
  @apply mb-10 lg:mb-20
    font-bold font-serif text-3xl lg:text-4xl;
}

.button {
  @apply px-5 py-2 inline-block outline-none
    text-yellow-500 text-center
    bg-none rounded-none
    border-2 border-yellow-500
    hover:bg-yellow-500 hover:text-black
    active:ring-4 active:ring-gray-500;
}

.button-fill {
  @apply text-black bg-yellow-500;
}

.scroll-tip {
  @apply flex flex-col
    justify-center
    cursor-pointer;
}

.scroll-tip span {
  @apply text-center;
}

.scroll-pill {
  height: 50px;

  @apply relative;
}

.scroll-pill:before {
  content: "";
  width: 30px;
  height: 100%;

  @apply inline-block border-2 border-white rounded-full;
}

.scroll-pill:after {
  content: "";
  top: 5px;
  width: 20px;
  height: 25px;
  margin-left: -25px;

  @apply absolute
    bg-white rounded-full
    transition-all duration-300;
}

.scroll-tip:hover .scroll-pill:after {
  top: calc(100% - 30px);
}

.card-container {
  @apply space-y-12 md:space-y-0
    md:grid md:gap-12
    md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4;
}

.card {
  @apply relative;
}

.card-title {
  @apply font-bold text-2xl mt-6;
}

.card-title a span {
  @apply absolute inset-0 z-10;
}

.card-content {
  @apply opacity-75 text-sm mt-3 text-justify;
}

.card-image {
  @apply w-full bg-white overflow-hidden
    h-80 sm:h-64;
}

.card-image img {
  @apply w-full h-full
    object-top object-cover
    grayscale
    transition-all duration-500;
}

.card:hover .card-image img {
  @apply grayscale-0;
}

.blog {
  @apply font-serif;
}

.blog code, pre, table {
  @apply font-mono;
}

.blog pre {
  @apply p-5 border border-gray-300 bg-gray-800;
}

.blog ul {
  @apply list-disc px-5;
}

.blog ol {
  @apply list-decimal px-5;
}

.blog h1,
.blog h2,
.blog h3,
.blog h4,
.blog h5,
.blog h6,
.blog p {
  @apply my-5;
}

.blog h1,
.blog h2,
.blog h3,
.blog h4,
.blog h5,
.blog h6 {
  @apply font-bold;
}

.blog h1 {
  @apply text-4xl;
}

.blog h2 {
  @apply text-3xl;
}

.blog h3 {
  @apply text-2xl;
}

.blog h4 {
  @apply text-xl;
}

.blog h5 {
  @apply text-lg;
}

.blog h6 {
  @apply text-base;
}

.blog img {
  @apply max-w-md;
}

.blog a {
  @apply text-yellow-500;
}

.blog td,
.blog th {
  @apply border border-gray-400 p-3;
}

.blog th {
  @apply font-bold;
}
