@font-face {
  font-family: "Instagram Sans Script";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("script"), url("script.woff") format("woff");
}

@font-face {
  font-family: "Instagram Sans Script";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: local("bold"), url("bold.woff") format("woff");
}
